@use "@/styles/base/colors" as *;

button.menu-item {
  display: flex;
  justify-content: space-between;
  column-gap: 0.5rem;
  color: $neutral_0;
  border: {
    radius: 0.5em;
    width: 0.1rem;
    style: solid;
    color: $neutral_600;
  }
  width: 100%;
  padding: {
    inline: 0.4rem;
    block: 0.6rem;
  }

  &[data-selected="true"] {
    background-color: $neutral_600;
  }
  &[data-selected="true"]::after {
    content: url("/assets/images/icon-checkmark.svg");
  }

  &:focus-visible {
    outline: 0.1em solid $neutral_0;
    outline-offset: 0.12em;
  }
}
