*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root,
button {
  font-size: 1.125rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

picture,
img {
  display: block;
}
